:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-primary{
  background-color: #61ad70;
  border-color: #61ad70;
}

.btn-primary:hover{
  background-color: #396642;
  border-color: #396642;
}

.btn-primary:focus{
  background-color: #396642;
  border-color: #396642;
}

.user-title{
  font-size: 1.5rem;
}

.user-title span{
  font-size: 2rem;
  font-weight: bold;
}

.user-identifier{
  color: gray;
  margin-top: -16px;
}

.puntsMarcador{
  font-size: 4rem;
  display: block;
}

.torrocoin{
  font-size: 0.7rem;
  margin-top: -20px;
  position: relative;
}

.monsterImg{
  display: inline;
  position: relative;
}

.monsterImg img{
  width: 60px;
}

.crossHolder{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 145%;
  background-position: center;
  background-size: cover;
}

.btn-primary:not(:disabled):not(.disabled).active{
  background-color: #305337;
  border-color: #305337;
}

.puntsBox{
  width: 100%;
}

.modal-holder {
  z-index: 500;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: auto;
  padding: 20px;
  background-color: #61ad70;
  z-index: 501;
  color: white;
  word-wrap: break-word;
  text-align: center;
  width: 80%;
}

.close-modal {
  margin-top: -11px;
  margin-right: -5px;
}

.modal-holder .btn-primary{
  background-color: white;
  border-color: white;
  color: #61ad70;
}

.modal-holder .btn-primary:hover{
  background-color: #396642;
  border-color: #396642;
  color: white;
}

.modal-holder .btn-primary:focus{
  background-color: #396642;
  border-color: #396642;
  color: white;
}

.smolTxt{
  font-size: 0.7rem;
}

.msgAssignacio{
  display: none;
  margin-top: -15px;
}

.assBox{
  background-color: #5858f4;
  padding: 3px 0px;
  margin-right: 7px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.marcadorPunts{
  display: block;
  font-size: 5rem;
}