<div id="modal-holder" class="modal-holder" style="display: none;">
  <div class="container" style="height: 100%;">
    <div class="modal-box col-12 col-md-6">
      <p class="align-right close-modal no-margin"><i id="modal-close-button" class="fas fa-times"></i></p>
      <div><p id="modal-text"></p><button class="btn btn-primary" onclick="tancarModal();">Tancar</button></div>
    </div>
  </div>
</div>